# vim: syntax=conf expandtab sw=2

# Protocols to use
protocols = imap lmtp sieve

mail_plugins = notify quota

protocol imap {
  imap_idle_notify_interval = 29 mins
}

protocol lmtp {
  mail_plugins = $mail_plugins sieve
}

# Manage mailes in a domain based structure
mail_location = maildir:/var/mail/vhosts/%d/%n

# Use the mail group for dotlocks
mail_privileged_group = mail

# Never allow plaintext auth
disable_plaintext_auth = yes

# Allow plain unencrypted messages inside the SSL tunnel.
auth_mechanisms = plain login

# Setup for HAproxy proxy traffic, in the future make this more secure.
haproxy_trusted_networks = 0.0.0.0/0
haproxy_timeout = 3

{% if dovecot_tls_cert_file and dovecot_tls_key_file %}
# Setup SSL
ssl = required
ssl_cert = <{{ dovecot_tls_cert_file }}
ssl_key = <{{ dovecot_tls_key_file }}
ssl_client_ca_dir = /etc/ssl/certs
{% endif %}

# Use a passwd-file as the user database and auth
userdb {
  driver = passwd-file
  args = username_format=%u /etc/dovecot/userdb
  default_fields = uid=vmail gid=vmail home=/var/mail/vhosts/%d/%n
}

passdb {
  driver = passwd-file
  args = scheme=plain-md5 username_format=%u /etc/dovecot/userdb
}

# Disable port 143 (IMAP), we use 993 (IMAP over SSL)
service imap-login {
  inet_listener imap {
    port = 0
  }
}

# Setup lmtp for postfix
service lmtp {
  inet_listener lmtp {
    address = {{ ansible_default_ipv4.address }} 127.0.0.1 ::1
    port = 24
    user = dovecot
    group = dovecot
}

# Setup auth service
service auth {
  inet_listener {
    port = 42000
  }
  unix_listener auth-userdb {
    mode = 0600
    user = mail
  }
  user = dovecot
}

# Set a few inbox rules
namespace inbox {
  type = private
  inbox = yes

  mailbox Trash {
    auto = create
    special_use = \Trash
  }
  mailbox Drafts {
    auto = subscribe
    special_use = \Drafts
  }
  mailbox Sent {
    auto = subscribe
    special_use = \Sent
  }
  mailbox Spam {
    auto = create
    special_use = \Junk
  }
}

plugin {
  sieve = /var/mail/vhosts/%d/%n/.dovecot.sieve
}
