<div class="card-box">
    <p>
        This is the username and password used to access these pages. You can change them here!
    </p>
    <div class="form-group">
        <label for="haproxy-username">Username</label>
        <input type="text" class="form-control" id="haproxy-username">
        <small class="form-text text-muted">
            The username, the default is "admin"
        </small>
    </div>
    <div class="form-group">
        <label for="haproxy-password">Password</label>
        <input type="text" class="form-control" id="haproxy-password">
        <small class="form-text text-muted">
            It is important to have a good password to keep this mailserver secure.
        </small>
    </div>
</div>
