<div class="card-box">
    <p>
        An e-mail server without any users are not that useful. List the account credentials to the users here.
        All specified accounts will get an mailbox and will be able to login to send and read emails. The users
        can use any mail client of their choosing that supports standard e-mail protocols. A web UI is also
        included, this is probably the easiest way to get started and may be what the user expect e-mail to be.
    </p>
    <div class="form-group">
        <label for="email-accounts">E-mail Accounts</label>
        <input type="text" class="form-control" id="email-accounts" placeholder="myuser@example.com:mypassword (sample)">
        <small class="form-text text-muted">
            A list of users in the form <code>user@example.com:password</code>, separate multiple accounts with <code>,</code>.
        </small>
    </div>
</div>
