<p>
    The origin is the domain name that locally-posted mail appears to come from,
    this is most likely the FQDN of the host where parcel is installed on.
</p>
<div class="form-group">
    <label for="lxd-remote">Origin</label>
    <input type="text" class="form-control" id="origin" placeholder="myserver.example.com (sample)">
    <small class="form-text text-muted">
        A domain or FQDN, for example: <code>example.com</code> or
        <code>myhost.example.com</code>
    </small>
</div>
<p>
    List all domains that you like to manage emails for. All domains need to have valid
    <a href="https://en.wikipedia.org/wiki/MX_record">MX records</a> pointing to the server
    where Parcel is installed.
</p>
<div class="form-group">
    <label for="domains">Domains</label>
    <input type="text" class="form-control" id="domains" placeholder="example.com (sample)">
    <small class="form-text text-muted">
        A comma separated list of one or more domains, for example: <code>example.com,example.net</code>.
    </small>
</div>
<p>
    A nice tool to detect various configuration errors are <a href="https://mxtoolbox.com/domain/">MXToolBox</a>.
</p>