<source>
  @type         forward
  bind          0.0.0.0
  port          24284
</source>

<match **>
  @type file
  path /var/www/html/forward
  format json
  time_slice_format %Y%m%d
  time_slice_wait 24h
  buffer_path /var/www/html/forward.*
  append true
</match>
