<source>
  @Type         forward
  Bind          0.0.0.0
  Port          24284
</source>

<match **>
  @Type file
  Path /var/www/html/forward
  Format json
  Time_slice_wait 24h
  Buffer_path /var/www/html/forward.*
  Append true
</match>
