global
    maxconn 4096

defaults
    maxconn 4096
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    mode tcp

userlist admin_users
  user {{ haproxy_username }} insecure-password {{ haproxy_password }}

{% if 'ansible_default_ipv4' in hostvars['postfix'] %}
listen smtp
  bind *:25
  option smtpchk HELO {{ postfix_domain }}
  server postfix {{ hostvars['postfix']['ansible_default_ipv4']['address'] }}:25 send-proxy check

listen smtp-tls
  bind *:587
  option smtpchk HELO {{ postfix_domain }}
  server postfix {{ hostvars['postfix']['ansible_default_ipv4']['address'] }}:587 send-proxy check
{% endif %}

{% if 'ansible_default_ipv4' in hostvars['dovecot'] %}
listen imap-tls
  bind *:993
  option tcp-check
  tcp-check connect port 993 ssl
  tcp-check expect string * OK
  server dovecot {{ hostvars['dovecot']['ansible_default_ipv4']['address'] }}:993 check verify none

listen sieve
  bind *:4190
  option tcp-check
  server sieve {{ hostvars['dovecot']['ansible_default_ipv4']['address'] }}:4190 check
{% endif %}

frontend www
  bind *:8080
  mode http

  http-request add-header TOKEN {{ www_token }}
  http-request auth realm mailserver unless { http_auth(admin_users) }
  use_backend stats if { path -i -m beg /stats/ }
  default_backend www

backend stats
  mode http
  stats enable
  stats hide-version
  stats auth {{ haproxy_username }}:{{ haproxy_password }}
  stats uri /stats/

backend www
  mode http
  server www 127.0.0.1:5042 check
