{% import 'accordion.macro.html' as accordion %}
{% include 'header.html' %}
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-top: 1em">Configure</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Configure components of your server here.
          </p>
        </div>
      </div> 
        <div class="row">
          <div class="col-sm">
            <div class="accordion" id="accordionConfig">
              {{ accordion.card(
                'lxd-socket',
                'LXD Configuration',
                hide_save=true)
              }}

              {{ accordion.card(
                'server-domains',
                'Domains & Server Origin',
                update_fields='origin,domains')
              }}
            </div>
          </div>
        </div>
{% include 'footer.html' %}
