<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management UI for Parcel">
    <meta name="author" content="nsg">
    <link rel="icon" type="image/png" href="/static/{{ static_hash }}/favicon.png">
    <title>Management UI for Parcel</title>
    <link href="/static/{{ static_hash }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/{{ static_hash }}/style.css" rel="stylesheet">
    <script src="/static/{{ static_hash }}/jquery/jquery-3.4.1.min.js" ></script>
    <script src="/static/{{ static_hash }}/shared.js"></script>
    <script src="/static/{{ static_hash }}/{{ page }}.js"></script>
  </head>
  <body class="bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Parcel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            {% for m in menu %}
                {% if current == m.url %}
                    <a class="nav-item nav-link active" href="{{ m.url }}" id="menu-{{ m.id }}">{{ m.name }}</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ m.url }}" id="menu-{{ m.id }}">{{ m.name }}</a>
                {% endif %}
            {% endfor %}
          </div>
          <span class="navbar-text text-warning">
            <span id="navbar-prov-status"></span>
          </span>
        </div>
      </nav>
