{% include 'header.html' %}
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-top: 1em">Management UI for Mailserver Snap</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead text-justify">
            Welcome to your Mail Server, I will try to make this as easy as possible but there
            is a lot of moving parts in E-mail. If you are stuck feel free to
            <a href="/">open an issue</a> over at GitHub and ask for help.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm border-right border-secondary">
          <h2>How it works</h2>
          <p>
            This snap contains the reverse proxy <a href="https://haproxy.org">HAProxy</a>
            that is used to control traffic, this administrative interface and several
            <a href="https://ansible.com">Ansible</a> playbooks that provisions the actual mail
            servers. All the source code can be found over at <a href="/">GitHub</a>.
          </p>
          <p>
            This snap will then use the <a href="https://snapcraft.io/lxd">LXD snap</a> to
            create several system containers, these containers will then be used to setup
            all bits and pieces needed to run your mail server.
          </p>
          <h5>Why not bundle everything inside the snap?</h5>
          <p>
            I started with that idea but it soon got really complicated, most popular mail
            software has been around quite some time and does not play nice inside a confined
            environment as a snap package. I finally realized that it would be considerably
            simpler and cleaner to just use LXD containers.
          </p>
        </div>
        <div class="col-sm">
          <h2>What do I need?</h2>
          <p>
            <strong>A server open to the public</strong>,
            try to avoid home servers because many internet
            service providers (ISP) intended for home use is blacklisted by the big e-mail
            providers in an effort to try to prevent spam. It is also likely that port 25
            is blocked by your ISP for the same reason. A remote smarthost is a work around
            for this.
          </p>
          <p>
            <strong>A Linux server</strong> that supports, and can use the LXD snap, unless
            you have a custom setup this should not be a problem. If you have no preferences
            I recommend to pick the latest <a href="https://www.ubuntu.com">Ubuntu LTS</a>.
          </p>
          <p>
            <strong>A domain name</strong> (or subdomain) that you can update the records on.
            This assumes some basic DNS knowledge, but to make things easy this site contains
            all information you need to set everything up.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm border-right border-secondary">
          <h2>What this is not</h2>
          <p>
            This is never intended to be a complete groupware solution, but I may later on
            add integrations with <a href="https://nextcloud.com">Nextcloud</a> with is also
            <a href="https://snapcraft.io/nextcloud">available as a snap</a>. Nextcloud
            offers plenty of nice things, but it's calender and contacts options fits really
            nice together with e-mail.
          </p>
        </div>
        <div class="col-sm">
          <h2>What this is</h2>
          <p>
            It's based around <a href="http://www.postfix.org/">Postfix</a> and
            <a href="https://www.dovecot.org/">Dovecot</a> and plenty of
            bits and pieces like <a href="http://opendkim.org/">OpenDKIM</a>
            and <a href="https://haproxy.org">HAProxy</a>.
          </p>
          <p>
            Most magic happens in the Ansible playbooks and the python scripts that
            powers this site. Together they do all the needed magic.
          </p>
        </div>
      </div>
      <div class="fixed-bottom text-center">
        <small>
          Feel free to contact me at <a href="/">GitHub</a> if you need help, or have
          suggestions.
        </small>
      </div>
{% include 'footer.html' %}
