<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management UI for Mailserver Snap">
    <meta name="author" content="nsg">
    <title>Management UI for Mailserver Snap</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
      <h2>hello!</h2>
    </div>
  </body>
</html>
