<div class="alert alert-info">
    Install LXD on a server running Linux.
    If you are running Ubuntu, LXD is already installed. If not
    <a href="https://snapcraft.io/lxd">lxd is available inside
    the snap store</a>. You can verify that lxd is installed by
    running the command <code>lxc</code> (lxd client).
</div>
<p>
    To get started you need to configure LXD to listen to the network
    and add a password. If you intend to use the local LXD installation set
    <code>core.https_address</code> to <code>127.0.0.1</code>,
    if you are using a separate machine set it to <code>[::]</code>.
    You also need to protect LXD by setting a good password.
</p>
<p>
    <code class="code-block">
        sudo lxc config set core.https_address "127.0.0.1"
        sudo lxc config set core.trust_password "{{ args.example_password }}"
    </code>
</p>
<p>
    You need to disconnect the lxd snap if you have previously used it
    with a <code>sudo snap disconnect parcel:lxd</code>.
    The system will prioritize the lxd snap over this option if both are configured.
</p>
<div class="form-group">
    <label for="lxd-remote">LXD Remote</label>
    <input type="url" class="form-control" id="lxd-remote" placeholder="https://127.0.0.1:8443 (sample)">
    <small class="form-text text-muted">
        DNS/IP and port number to the LXD server, prefix it with https://.
        The default port is 8443, you can specify a different port with the lxc command if you like.
    </small>
</div>
<div class="form-group">
    <label for="lxd-password">LXD Password (trust_password)</label>
    <input type="url" class="form-control" id="lxd-password" placeholder="{{ args.example_password }} (sample)">
</div>
