<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Management UI for Mailserver Snap">
    <meta name="author" content="nsg">
    <title>Management UI for Mailserver Snap</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Mailserver</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Welcome</a>
            <a class="nav-item nav-link" href="/status/">Status</a>
            <a class="nav-item nav-link" href="/configure/">Configure</a>
            <a class="nav-item nav-link active" href="/provision/">Provision</a>
            <a class="nav-item nav-link" href="/about/">About</a>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-top: 1em">Provision logs</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Ansible is used to create and provision the LXD containers.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col border-right border-secondary">
          <p>
            This page
            displays the status and logs from the latest provision operation.
            This may fail for a various reasons, if you have not configured the
            snap under <a href="/configure/">configure</a>, do it now.
            The <a href="/status/">status</a> page also displays various
            information that may help you.
          </p>
        </div>
        <div class="col">
          <p>
            The containers are provisioned on snap install, configuration changes
            and once every hour. This is done to make sure that configuration and
            package information is correct and always in a working order.
          </p>
        </div>
      </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
