{% include 'header.html' %}
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-top: 1em">Provision logs</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Ansible is used to create and provision the LXD containers.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm border-right border-secondary">
          <p>
            This page
            displays the status and logs from the latest provision operation.
            This may fail for a various reasons, if you have not configured the
            snap under <a href="/configure/">configure</a>, do it now.
            The <a href="/status/">status</a> page also displays various
            information that may help you.
          </p>
          <p>
            The containers are provisioned on snap install, configuration changes
            and once every hour. This is done to make sure that configuration and
            package information is correct and always in a working order.
          </p>
          <button type="button" class="btn btn-sm btn-dark" onclick="trigger()">Trigger provision</button>
        </div>
        <div class="col-sm">
          <h3>Provision status</h3>
          <p id="ansible"></p>
          <div class="alert alert-primary" role="alert" id="ansible-messages"></div>
          <div id="ansible-log"></div>
        </div>
      </div>
{% include 'footer.html' %}
