{% include 'header.html' %}
      <div class="row">
        <div class="col">
          <h1 style="text-align: center; margin-top: 1em">Status</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Status and Health of Parcels components
          </p>
        </div>
      </div> 
        <div class="row">
          <div class="col-sm">
            <div class="row">
                <div class="col-sm border-right border-secondary">
                  <h2>Service</h2>
                  <p id="status-service"></p>
                  <p id="status-service-messages"></p>
                  <p>See <a href="/stats/">stats</a> for more information.</p>
                </div>
                <div class="col-sm">
                  <h2>Provision</h2>
                  <p id="status-provision"></p>
                  <p>For more information see <a href="/provision/">provision</a>.</p>
                </div>
              </div>
          </div>
        </div>
{% include 'footer.html' %}
